[submodule "xnu"]
	path = xnu
	url = https://github.com/qhuyduong/xnu
[submodule "AvailabilityVersions"]
	path = AvailabilityVersions
	url = https://github.com/apple-oss-distributions/AvailabilityVersions
